.column {
  width: 300px;
  float: left;
  margin-left: 20px;
  margin-right: 20px;
}

.sidebar {
  margin: 20px;
  padding: 20px;
  color:rgb(224, 209, 209);
  width: 30%;
  float: left;
  background-color: black;
}

.box1 {
  float: right;
  width: 30%;
  border: dotted black;
  padding-bottom: 15px;
  border-width: 5px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 50px;
}

.box2 {
  float: left;
  width: auto;
  color: red;
  background-color:rgb(224, 209, 209);
  border: solid black;
  border-width: 2px;
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 30px;
  padding-right: 30px;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  color: rgb(224, 209, 209);
  font-size: 70pt;
}

.important {
  color: rgb(224, 209, 209);
}

.size {
  font-size:smaller;
}

.color {
  color: black;
}

.center {
  text-align: center;
}

p {
  text-align: justify;
  font-size: 16pt;
}

body {
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: red;
  font-family: monospace;
}