.column {
  width: 300px;
  float: left;
  margin-left: 20px;
  margin-right: 20px;
}

.box1 {
  float: right;
  width: 30%;
  border: dotted black;
  border-width: 5px;
  box-sizing: border-box;
}

.box2 {
  float: left;
  width: auto;
  border: solid rgb(224, 209, 209);
  border-width: 2px;
}

h1 {
  text-align: center;
  color: rgb(224, 209, 209);
  font-size: 80pt;
}

p {
  text-align: justify;
  font-size: 16pt;
}

body {
  background-color: red;
  font-family: monospace;
}